.space{
 
    background-color: white;
    width: 80%;
    max-height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 10mm;
    border-color: teal;
    padding: 0.3cm;
    margin-bottom: 13px;
}
.matter{
    color: yellowgreen;
}
div h2{
    width: 100%;
    height: 13%;
    padding: 5px;
    text-align: center;
}
div p{
    padding: 8px;
    height: 90%;
}