main{
    height: 72vh;
}
.container1{
    background-color: white;
    padding: 1%;
    margin: 3%;
    height: 90%;
    width: 100%;
    border-radius: 15px;
}
.sir{
    height : 40%;
    text-align: center;
}
.hed1{
    margin-left: 25%;
    margin-right: 25%;
}

.container1 img{
    height: 5cm;
    width: 5cm;
    border-radius: 3mm;
    float: left;
    border: yellow; 
    padding: 2%;
    margin-left: 3%;
}

.container2{
    margin: auto;
    width: 600px;
    padding: 1%;
    border-radius: 5%;
}

.par1{
    margin-left: 25%;
    margin-right: 25%;
    padding: 0.5%;
   
}

div h2{
    color:turquoise;
    font-weight:bold;
    text-align: center;
    padding: 1%;
}
.p1{
    padding: 0.3%;
    text-align: center;
}
abt{
    text-align: center
}
div h3{
    text-align: center;
}