main{
	align-items: center;
	justify-content: center;	
}

.card{
	width: 420px;
	height: 400px;
	box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

.inner-box{
	position: relative;
	width: 100%;
	height: 100%;
}
.card-front{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 15px;
	background-size: cover;
	background-color: #7FFFD4;
	font-weight: bold;
}
.card h2{
	font-style: oblique;
	color: black;
	text-align: center;
	padding: 3%;
	margin: 8px;
}
.tit{
	text-align: center;
	margin: 15px;
}
button{
	width: 100%;
}
form{
	padding: 15px;
}
.btn-outline-secondary{
	background-color: white;
}

