main{
	align-items: center;
	justify-content: center;	
}

.fbox1{
    align-items: center;
    justify-content: center;	 
	width: 80%;
	height: 380px;
	border-radius: 8px;
    background-color:transparent;
}

.fbox2{
	position: relative;
	width: 100%;
	height: 100%;
}
.fbox3{
    position: absolute;
	width: 100%;
	height: 100%;
	padding: 15px;
	background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: transparent;
    padding-left: 8%;
    

}
.otp,.cngp{
    border-radius: 8px;
    width: 50%;
    height: 80%;
    background-color: rgb(49, 129, 82);
	padding: 15px;
	background-size: cover;

}
.otp h2{
    text-align: center;
    color: rgb(211, 212, 211);
    padding: 15px;
    border-radius: 5px;
}
.cngp h2{
    text-align: center;
    color: rgb(211, 212, 211);
    padding: 15px;
    border-radius: 5px;
}

.input-box{
	width: 100%;
	height: 32px;
	border-radius: 20px;
	border: 1px solid rgba(65, 250, 9, 0.801);
	margin: 6px;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	color: black;

}
button{
	width: 100%;
	height: 32px;
	border-radius: 20px;
	border: 1px solid #fff;
    background-color:rgb(0, 0, 0);
	margin: 35px 0 10px;
	padding: 0 15px;
	box-sizing: border-box;
	outline: none;
	font-weight: bold;
	color: white;
	cursor: pointer;
}
.submit-btn{
	position: relative;

}