.data{

	width: 80%;
	height: 72.5vh;
	background-color: white;
	margin: 1.5%;
	margin-left: 9%;
	border-radius: 13px;
	padding: 1.5%;
	box-sizing: border-box;
	outline: none;
	font-weight: bold;
}
div p{
	margin-top: 6px;
	width: 95%;
	padding: 3px;
	height: 15%;
}